$orange: #e67e22;

body {
  overflow-x: hidden;
}

.nav-item {
  text-decoration: underline;
}

/* ----- HOME PAGE ----- */

// HOME SECTION

#hero-section {
  background: url(../img/me-with-kids.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 500px;
  background-position: center 20%;
  text-shadow: 2px 2px 4px black;
}

@media only screen and (max-width: 768px) {
  #hero-section h4 {
    font-size: 70px;
  }
}

#homesection-1 a {
  background-color: $orange;
}

#homesection-1 a:hover {
  color: #000 !important;
  background-color: #fff;
}

@media only screen and (max-width: 768px) {
  #homesection-1 a {
    margin-bottom: 25px;
  }
}

#homesection-1 img {
  height: 300px;
  width: 300px;
}

#homesection-2 img {
  height: 325px;
  width: 325px;
}

#homesection-2 a {
  color: #000;
  background: white;
}

#homesection-2 a:hover {
  color: #fff;
  background: $orange;
  border: 1px solid black;
}

#homesection-3 a {
  background-color: $orange;
}

#homesection-3 a:hover {
  color: #000 !important;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  #homesection-3 button {
    margin-bottom: 20px;
  }
}

#homesection-3 img {
  min-height: 200px;
}

@media only screen and (max-width: 768px) {
  #homesection-3 img {
    max-height: 300px;
    margin: auto;
  }
}

#homesection-4 a {
  color: #000;
  background: white;
}

#homesection-4 a:hover {
  color: #fff;
  background: $orange;
  border: 1px solid black;
}

#homesection-4 i {
  font-size: 200px;
}

// ABOUT PAGE

#aboutsection-1 img {
  height: 350px;
  width: 350px;
}

#contact-section-1 i {
  font-size: 200px;
}

// SKILLS PAGE

#skills-section-1 .paintbrush-img {
  height: 300px;
}

/* ----- EXAMPLES PAGE ----- */

@media only screen and (max-width: 768px) {
  #examples-section-1 img {
    height: 300px;
  }
}

/* ----- CONTACT PAGE ----- */

@media only screen and (max-width: 768px) {
  #examples-section-1 img {
    height: 300px;
  }
}

// CONTACT PAGE

#contact-card {
  background-color: $orange;
}
